<h2>Rules of The Game</h2>
<h4 class="rules sub-heading">Basic Rules</h4>
<ul>
    <li>11 Players has every match has to be selected.</li>
    <li>Players will be divided as batsman , all-rounders and bowlers.</li>
    <li>Minimum of 01 wicket keeper per team needs to be selected.</li>
    <li>Maximum of 08 players from one team can be selected per game.</li>
    <li>Selection of players has to be done before the official time of the toss</li>
    <li>Points will be counted if 20 overs or more played in the match in case of abandonment.</li>
    <li>Leaderboard will indicate cumulative standing after each match.</li>
    <li>League is open to all. However prizes will be awarded only to Sri Lankans</li>
    <li>Final decision on prizes will be at the discretion of the management of <a href="/">cricketerlk.com.</a></li>
</ul>
<h4 class="rules sub-heading">Points System</h4>
<div class="rule-set">
    <h5 class="category">Batting Points System</h5>
    <ul>
        <li>Every 1 run = 1 points</li>
        <li>Not out bonus = 10 points (minimum 20 balls )</li>
        <li>Duck/Golden Duck = -5 points (Not for Bowlers)</li>
        <li>Boundries :
            <ul>
                <li>Every 4 = 1 points</li>
                <li>Every 6 = 3 points</li>
            </ul>
        </li>
        <li>Batting Milestone Bonuses :
            <ul>
                <li>Between 25-49 runs = 10 points</li>
                <li>Between 50-74 runs = 25 points</li>
                <li>Between 75-99 runs = 40 points</li>
                <li>Between 100-124 runs = 60 points</li>
                <li>Between 125-149 runs = 75 points</li>
                <li>150 or above = 90 points</li>
            </ul>
        </li>
        <li>Batting Milestone Bonuses :
            <ul>
                <li>Between 5-9 boundaries = 10 points</li>
                <li>Between 10-14 boundaries = 15 points</li>
                <li>15 or more boundaries = 25 points</li>
            </ul>
        </li>
        <li>Strike rates Bonus/penalty (10 balls minimum) :
            <ul>
                <li>Unit = (No of Runs - Bowls Faced)</li>
                <li>If positive 1x into number of units is added</li>
                <li>If negative 0.5x into number of units is deducted</li>
            </ul>
        </li>
    </ul>
</div>
<div class="rule-set">
    <h5 class="category">Bowling Points System</h5>
    <ul>
        <li>Each wicket grants 25 points to the bowler</li>
        <li>Wicket Bonuses :
            <ul>
                <li>2 wickets grants 10 bonus points</li>
                <li>3 wickets grants 20 bonus points</li>
                <li>4 wickets grants 35 bonus points</li>
                <li>5 wickets grants 50 bonus points</li>
                <li>6 or more wickets grants 50 + 20 bonus points each</li>
            </ul>
        </li>
        <li>Economy rate Bonus/Penalty :
            <ul>
                <li>Unit = (No of Bowls Bowled - No of Runs Scored)</li>
                <li>If positive 1x into number of units is added</li>
                <li>If negative 1x into number of units is deducted</li>
            </ul>
        </li>
        <li>Hattrick earns 30 bonus points</li>
        <li>Every maiden over earns 10 bonus points</li>
    </ul>
</div>
<div class="rule-set">
    <h5 class="category">Fielding Points System</h5>
    <ul>
        <li>Catches grants 10 bonus points each</li>
        <li>Each Stumping grants 20 bonus points</li>
        <li>Run Out earn 15 bonus points</li>
    </ul>
</div>
<div class="rule-set">
    <h5 class="category">Special Rules</h5>
    <ul>
        <li>A captain must be appointed for each team. Total points obtained by the captain is multiplied by a factor of 2 (Total points X 2)</li>
        <li>A vice captain must be appointed for each team. Total points obtained by the vice captain is multiplied by a factor of 1.5 (Total points X 1.5)</li>
        <li>Man of the match earns 50 bonus points</li>
    </ul>
</div>